@import url('https://fonts.cdnfonts.com/css/samarkan');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Samarkan', 'cooper black',sans-serif;
    filter: drop-shadow(0 0 12px fada82);
    animation: glow 1.47s alternate infinite;
    text-align: center;
}
img{
    width: 15rem;
    height: 15rem;
    position: relative;
    top: 5rem;
    filter: drop-shadow(0 0 12px #fada82);
    animation: glow 1.47s alternate infinite;
}
@keyframes glow {
    0%{
        filter: drop-shadow(0 0 12px #fada82);
    }
    100% {
        filter: drop-shadow(0 0 25px #fada82);
    }
}

.diwali{
    color: white;
    position: relative;
    top: 8rem;
    font-size: 2.5rem;
    font-weight: bold;
}